<nav>
    <ul class="nav-bar">
        <li href="">Home</li>
        <li href="">Custom</li>
        <li href="">Sedan</li>
        <li href="">SUV</li>
        <li href="">Truck</li>
    </ul>
</nav>