<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/styles.css">


</head>
<body>
    <div id="main-body">
        <h1 class="welcome-title">Welcome to CSE Motors!</h1>
        <div class="hero-image">
            <img src="/public/images/vehicles/delorean.jpg" alt="Delorean Hero">
            <div class="hero-text-container">
                <h2>DMC Delorean</h2>
                <p>3 Cup holders</p>
                <p>Superman doors</p>
                <p>Fuzzy Dice</p>
                <div class="hero-button">
                    <button>Own Today</button>
                </div>
            </div>
        </div>
        <div class="hero-specs">
            <div class="delorean-upgrades">
                <h3>Delorean Upgrades</h3>
                <div class="delorean-upgrades-images">
                    <div class="image-container">
                        <img src="/public/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                        <a href="" class="image-description">Flux Capacitor</a>
                    </div>
                    <div class="image-container">
                        <img src="/public/images/upgrades/flame.jpg" alt="Flame Decal">
                        <a href="" class="image-description">Flame Decal</a>
                    </div>
                    <div class="image-container">
                        <img src="/public/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                        <a href="" class="image-description">Bumper Sticker</a>
                    </div>
                    <div class="image-container">
                        <img src="/public/images/upgrades/hub-cap.jpg" alt="Hub Cap">
                        <a href="" class="image-description">Hub Cap</a>
                    </div>
                </div>
            </div>
            <div class="delorean-reviews">
                <h3>DMC Delorean Reviews</h3>
                <div class="reviews-container">
                    <ul>
                        <li>"So fast it's almost like traveling in time." (4/5)</li>
                        <li>"Coolest ride on the road." (4/5)</li>
                        <li>"I'm feeling McFly!" (5/5)</li>
                        <li>"The most futuristic ride of our day." (4.5/5)</li>
                        <li>"80's livin and I love it!" (5/5)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
