<h1>Inventory Management</h1>
<div class="management-view">
  <a href="/inv/add-classification">Add New Classification</a><br>
  <a href="/inv/add-inventory">Add New Inventory Item</a>
</div>

<% if (messages && messages.length > 0) { %>
  <div class="flash-messages">
    <% messages.forEach(function(msg) { %>
      <p><%= msg %></p>
    <% }) %>
  </div>
<% } %>
